@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
body{
  background:url('./img/abstract-geometric-purple-background_77895-94.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  background: rgba(255,255,255,0.6);
  min-height: 100vh;
  background-blend-mode: multiply;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
header{
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 5px lightgrey;
  z-index: 100;
}
header nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 90vw;
  /* padding: 1rem 0; */
  background: white;
  position: sticky;
  top: 0;
  align-items: center;
}
header nav .leftSection{
  flex-basis: 15%;
}
header nav .rightSection{
  flex-basis: 70%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
header nav .rightSection a{
  /* display: block; */
  padding: 1rem 0;
  display: block;
  flex-basis: 15%;
  position: relative;
  left: 0;
  font-weight: 600;
  transition: 0.3s;
  /* margin-left: auto; */
}
header nav .rightSection a:hover{
  left: -10px;
}
.upload button{
  font-family: 'Arvo', serif;
  color: white;
  background: purple;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 25px;
  box-shadow: 4px 5px 10px grey;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  margin-top: 2rem;
}
.upload button:hover{
  color: grey;
  background-color: lightgrey;
}
.upload .document{
  padding: 1rem 2rem;
  border: none;
  color: grey;
  background: lightgrey;
  cursor: pointer;
  display: block;
  border-radius: 20px;
  margin-top: 0.5rem;
  transition: 0.3s;
}
.upload .docName{
  margin-top: 0.5rem;
  font-size: 12px;
  color: gray;
}
.upload .document:hover{
  background: white;
  box-shadow: 1px 1px 5px lightgrey;
}
.upload button p::before{
  content: '';
  min-height: 120%;
  color: black;
  border: 1px solid white;
  margin: 0 1rem;
}
.upload .wrap{
  max-width:600px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-flow: column;
  /* justify-content: space-around; */
  align-items: center;
  background: white;
  padding: 2rem 1rem ;
  border-radius: 25px;
}
.upload #video{
  display: none;
}
.upload span{
  /* margin-top: 1rem; */
  display: block;
  /* padding-top: 1rem; */
}
.upload progress{
  margin-top: 0.5rem;
  width: 100%;
  font-size: 10px;
  height: 20px;
  /* padding-bottom: 1rem; */
}
.upload h1{
  font-size: 15px;
  font-weight: 400;
}
.upload .progress{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  word-break: break-all;
  background: white;
  margin: 2rem 0;
}
.hambugger{
  display: none;
}
.upload .progress .right{
  flex-basis: 87%;
  color: purple;
  border-left: 1px solid purple;
  padding-left: 1rem;
  /* display: block; */
}
.upload .header{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid purple;
  margin-bottom: 1rem;
}
@media (max-width: 560px){
  header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem 0;
  }
  header nav{
    align-items: center;
    position: static;
  }
  header nav .rightSection{
    position: fixed;
    width: fit-content;
    display: block!important;
    justify-content: center;
    z-index: 100;
    background: white;
    box-shadow: 1px 1px 5px solid lightgrey;
    top: 0;
    left: 0;
    height: 100vh;
    width:250px ;
    transition: 0.3s;
  }
  header nav .rightSection::before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }
  header nav .leftSection{
    flex-basis: 30%;
  }
  header nav .rightSection a{
    display: block;
    text-align: left;
    padding: 1rem 2rem;
    border-bottom: 1px solid purple;
  }
  .hambugger{
    display: block;
  }
  .out{
    left: -300px!important;
    opacity: 0;
    pointer-events: none;
  }
}
.post{
  margin: 1rem;
}
.post form, .posts {
  max-width: 900px;
  padding: 1rem;
  background: white;
  border-radius: 30px;
  margin: auto;
}
.post input{
  border: none;
  padding: 1rem;
  border-bottom: 1px solid purple;
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 20px;
}
.post form button{
  display: block;
  padding: 1rem 2rem;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: purple;
  margin: 1rem 0;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  margin-left: auto;
}
.post form button:hover{
  background: lightgrey;
  color: grey;
 
}
.auth{
  min-height: 100vh;
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.auth input{
  padding: 1rem;
  border: none;
  border-bottom: 1px solid purple;
  margin-bottom: 1rem;
  width: 100%;
}
.auth button{
  padding: 1rem 2rem;
  color:white;
  background: purple;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  display: block;
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 1px 1px 10px purple;
}
.auth form{
  width: 100%;
  position: relative;
}
.auth h1{
  color: white;
  /* padding-left: 2rem; */
  margin-bottom: 1rem;
  padding-left: 3rem;
  position: relative;
}
.auth h1::before{
  content: '';
  height: 100%;
  border: none;
  position: absolute;
  padding-left: 2rem;
  border: 1px solid white;
  left: 0;
  /* background-color: white; */
}
.auth button:hover{
  background: lightgrey;
  color: grey;
}
.home{
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.home .wrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 1rem; */
  width: 100%;
  /* min-height: 100vh; */
  background: purple;
  /* border-radius: 30px; */
}
.home a{
  display: block;
  flex-basis: 45%;
  padding: 1rem;
  position: relative;
  transition: 0.3s;
  top: 0;
}
.home a:hover{
  /* background: lightgrey; */
  top: -10px;
  box-shadow: 1px 1px 5px solid lightgrey;
}
.post .image{
  border: none;
  border-radius: 20px;
  color: grey;
  background: lightgrey;
  transition: 0.3s;
  padding: 1rem 2rem;
  margin-top: 0.3rem;
  cursor: pointer;
  display: block;
  width: fit-content;
}
.post .image:hover{
  background: white;
  box-shadow: 1px 1px 5px lightgrey;
  color: lightgrey;
}
.post .imageName{
  color: purple;
  margin-top: 0.5rem;
}
.posts{
  margin-top: 1rem;
  text-transform: capitalize;

}
.posts ul{
  list-style-type: none;

}
.posts ul li .trash{
  color: red;
  /* text-align: right; */
  margin-left: auto;
  display: block;
  font-size: 25px;
  width: fit-content;
}
.verify .yes, .verify .no{
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.3s;

}
.empty{
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  margin: 1rem 2rem;
}

.verify{
  padding: 1rem;

  position: absolute ;
  right: 0;
  background: purple;
  min-height: 100%;
  /* border: 1px solid white; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* margin-right: -120px; */
  transition: 0.3s;
}
.posts ul li{
  position: relative;
  padding:  1rem;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  overflow-x: hidden;
  /* padding: 0.5rem; */
}
.posts ul li:hover{
  background-color: rgba(0,0,0,0.05);

}

/* loader section */
.spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* ends here */
.loader2{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error{
  color: red;
  background: white;
  position: absolute;
  /* top: -100px; */
  margin-top: -50px;
  padding: 0.5rem 2rem;
  width: 100%;
  text-align: center;
}
.projects .wrap{
  background: white;
  padding: 20px;
}
/* loader 2 */


.tap-to-upload, .upload-cropped{
  background: lightgrey;
  /* width: fit-content!important; */
  min-width: 200px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid lightgrey;
  transition: 0.3s;
  display: inline-block!important;
  margin: 10px 5px;
}
.tap-to-upload:hover, .upload-cropped:hover{
  background: white;
  color: black;
  border: 1px solid lightgrey;
}
.holder{
  width: fit-content;
  margin: auto;
}
.upload-cropped{
  color: white;
  background: green;
  border: 1px solid transparent;
  margin-right: auto;
}
.caption{
  margin: auto;
  width: fit-content;
}
.caption p{
  width: fit-content;
  margin: 10px auto;
}
.caption textarea{
  /* max-width: 400px; */
  padding: 10px;
  width: 400px;
  border: 1px solid purple;
}
.container{
  max-width: 400px;
  margin: auto;
  text-align: center;
}
@media (max-width: 560px){
  .caption textarea{
    width: 95%;
    margin: auto!important;
    /* text-align: center; */
    display: block;
  }
}