 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Our Projects</title>
     <%- include('partial/headerLinks.ejs') %> 
 </head>
 <body>
     
<%- include('partial/header.ejs') %> 
<%- include('partial/jumbo-projects.ejs') %> 
<div class="container">
    <p style="margin: 5rem 0; font-size: 18px;">
        Jesus-Cares Academy is a proposed top-level institution of learning that will cater to a broad strata of individuals within the society. The idea is to have a very dynamic knowledge base and exchange system in which the psychomotor, psychosocial, analytical and problem solving skills of students are honed from the first day of enrollment. <br>
Our vision is to create a novel system of education, starting with Nigeria, in which predecessors become trainers in an ever evolving and cyclic academic model. That is to say that the adult members of the Jesus-Cares community who receive our specialized courses in hard and soft skills gain relevance by becoming prime mentors to the Children of our academy, who in turn graduate at every level to become responsible student- mentors themselves. <br>
This already great citadel of learning is envisioned to be a recruitment center for the best Universities and Companies around the world. This confidence stems from the excellence of our intellectual resources who are actively working to interpret <br>
            
this vision and model. The school will be a full scholarship arrangement for all members of Jesus-Cares Social Home for Vulnerable persons.
    </p>
</div>
    

<%- include('partial/footer.ejs') %> 
 </body>
 </html>