<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Projects</title>
    <%- include('partial/headerLinks.ejs') %> 
    <style>
    b{
       color: purple!important; 
    }
    </style>
</head>
<body>
    
<%- include('partial/header.ejs') %> 
<%- include('partial/jumbo-projects.ejs') %> 
<div class="container">
   <p style="margin: 5rem 0; font-size: 18px;">
    At the center of all activities at Jesus-Cares Social Home is our Driving Force which is Jesus. <br> Central to our mandate is bringing the Gospel to those persons whose lives we touch and beyond. The Gospel for us is not just a tool that saves people from helplessness. <br> It is a way of life and thinking that infuses excellence into every area of living. We want people to experience these excellences and that is why we are committed to distributing free bibles and devotional materials in the communities that we impact. <br>
Our current initiatives in education and health will serve as vehicles for our Gospel outreaches. <br> We are committed to transforming lives in every way possible and this is inarguably our most potent method of giving back hope where it was lost.
   </p>
</div>
   

<%- include('partial/footer.ejs') %> 
</body>
</html>