<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Projects</title>
    <%- include('partial/headerLinks.ejs') %> 
    <style>
    b{
       color: purple!important; 
    }
    </style>
</head>
<body>
    
<%- include('partial/header.ejs') %> 
<%- include('partial/jumbo-projects.ejs') %> 
<div class="container">
   <p style="margin: 5rem 0; font-size: 18px;">
    Jesus-Cares Social Home for Vulnerable persons was pioneered by a leading Social Welfare expert, alongside a multi- professional seven-man team, including 3 medical doctors. This makes the organization very inclined and passionate about healthcare and health interventions. <br>
    There are two fundamental projects in the area of health which are primed to run concurrently in the near future. The first is an <b>advocacy program on the need for primary health care and routine medical checkups</b>, which will transition, yet simultaneously run with the second program which will be a free <b>monthly medical checkup campaign</b>. This will be carried out in collaboration with our affiliated hospital (Mother Mercy Clinics and Maternity) and other healthcare institutions in our areas of current interest. <br>
    These programs will be an avenue to not only enlighten the population on the need to get checked periodically, but to bring the solution to them by way of these free and comprehensive medical checkups. The health programs will also be a platform to raise awareness on poorly understood medical issues like Diabetes and endemic diseases like Malaria. <br>
   </p>
</div>
   

<%- include('partial/footer.ejs') %> 
</body>
</html>