<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center" style="background-color: rgba(128, 0, 128);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3><%=project%></h3>
                    <a href="https://paystack.com/pay/Jesus-cares-charity" class="button" style="background: white;
				 color: black; padding: 0.5rem 1rem;
				 font-size: smaller;
				 border-radius: 10%;" class="cta py-2 px-3">
					Donate Now
				</a>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!-- bradcam_area_end  -->